.post-details{
    border: 1px solid green;
    border-radius: 7px;
    background-color: rgb(215, 245, 154);
    margin: 30px;
    padding: 20px;
    
}

.post-details button{
    color: white;
    border: none;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
}

.post-details button:hover{
    background-color: yellowgreen;
}